<!doctype html>
<title>Site Maintenance</title>
<meta charset="utf-8">
<style>
    .content {
        background-color: rgba(255, 255, 255, 0.75); 
        background-size: 100%;      
        color: inherit;
        padding: 1px 100px 10px 100px;
        border-radius: 15px;        
    }
 
  h1 { font-size: 40pt;}
  body { font: 20px Helvetica, sans-serif; color: #333; }
  article { display: block; text-align: left; width: 75%; margin: 0 auto; }
  a:hover { color: #333; text-decoration: none; }
</style>
 
<article> 
  <div class="background">
    <div class="content">
      <h1>Em manutenção!</h1>
        <p>Pedimos desculpas pelo transtorno, no momento a nossa loja encontra-se em manutenção.</p>        
        <h3>Meu ip: {{ ansible_facts.ens33.ipv4.address }} </h3>
    </div>
  </div>
</article>